<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        /* 属性选择器，页面加载的时候隐藏元素，加载完成vue会将该属性变为block,唯一的解决方案，不使用 */
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <!-- msg前边也可以写this,没有用处 -->
        <!-- 表达式 赋值运算 计算  三元(尽量少些逻辑代码) -->
        <!-- 指令：dom元素的行间属性 vue提供的指令，以v-开头，后边跟的都是变量-->
        <!-- v-model    表单元素，会忽略value,selected,checked,将数据绑定在视图上，视图的修改也将影响数据的变化 -->
        {{msg}}
        <input type="text" v-model="msg"><br>
        <!-- 单个checkbox的时候，会把值转换为true(选中)或者false(未选中) -->
        <input type="checkbox" v-model="check">{{check}}<br/>
        <input type="checkbox" v-model="check1">{{check1}}<br/>
        <!-- 多个checkbox选中会自动把vlaue值放入数组中,数组中有对应的值也会自动选中 -->
        <input type="checkbox" v-model="check2" value="aaaaa">aaaaa<br/>
        <input type="checkbox" v-model="check2" value="bbbbb">bbbbb<br/>
        <input type="checkbox" v-model="check2" value="ccccc">ccccc<br/>
        {{check2}}<br>
        <!-- 单选基本同多选 -->
        <input type="radio" value="Runoob" v-model="picked">Runoob<br/>
        <input type="radio" value="Google" v-model="picked">Google<br/>
        {{picked}}<br/>
        <!-- 下拉框 -->
        <select v-model="selected" name="fruit">
            <option value="" disabled>选择一个网站</option>
            <option value="www.runoob.com">Runoob</option>
            <option value="www.google.com">Google</option>
          </select>

          <div id="output">
              选择的网站是: {{selected}}
          </div>
        <!-- v-text取代{{}}，解决闪烁问题，但是麻烦吗，以v-cloak代替，解决块级闪烁问题，很少使用 -->
        <!-- v-once,只绑定一次，数据刷新不会导致视图刷新，写在不想刷新的标签上 -->
    </div>
    <!-- npm install vue -->
    <!-- npm install vue axios bootstrap -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            methods: {

            },
            data: {
                msg:"msg",
                check:true,
                check1:1,
                check2:["aaaaa"],
                picked : "Runoob",
                selected: ''
            }
        });
    </script>
</body>
</html>