<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 按键修饰符可以多.连用 -->
        <input type="text" v-model="val" @keyup.enter="add">
        <ul>
            <li v-for="(val,index) in arr">{{val}}<input type="button" value="删除" @click="del(index)"></li>
        </ul>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                val:'',
                arr:[]
            },
            methods: {
                add(e){
                    //if(e.keyCode == 13){//此处可以省略，在事件后加上修饰符. .13(回车执行) .enter(回车执行) .a(按下a执行)等
                        this.arr.unshift(this.val);
                        this.val = "";
                    //}
                },
                del(index){
                    //this.arr.splice(index,index);
                    //条件永远为false
                    this.arr = this.arr.filter((item,i) => index !== i);
                }
            }
        });
    </script>
</body>
</html>